$font-size: 14px;
$radius: 7px;
$ava-width: 32px;
$color-stack: (
  yellow: (
    base: #FEED00
  ),
  red: (
    base: #EE241A
  ),
  blue: (
    base: #3A96D9,
    light: #3EA0E8
  ),
  alias: (
    hover: #FEED00
  ),
  grey: (
    base: #9B9B9B,
    light: #EAEAEA
  )
);
