* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    box-sizing: border-box;
}

//::-moz-selection {
//    background: #ffff57;
//}
//::selection {
//    background: #ffff57;
//}

body, html {
    padding: 0;
    margin: 0;
    min-height: 100%;
}

html {
    overflow-x: hidden;
    font-size: 8px;

    @include breakpoint(tablet) {
        font-size: 9px;
    }

    @include breakpoint(desktop) {
        font-size: 10px;
    }
}

body {
    position: relative;
    font-size: 1.4rem;
    background: #fff;
    line-height: 1.4;
    height: 100%;
    min-height: 100vh;
    background-color: #fff;
    font-family: 'm.video', serif;
}

a {
    transition: color $easing-time ease, border $easing-time ease;
    text-decoration: none;
    color: #000;

    &:hover, &:focus {
        color: color(alias, hover);
        outline: none;
    }
}

.b-container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 3.75rem;

    @include breakpoint(tablet) {
        padding: 0 6.67rem;
    }

    @include breakpoint(desktop) {
        padding: 0 3rem;
    }
}
