@mixin breakpoint($point) {
    @if $point == mobile {
        @media only screen and (min-width: screen(mobile, min)) { @content ; }
    }
    @else if $point == mobileonly {
        @media only screen and (max-width: screen(mobile, max)) { @content ; }
    }
    @else if $point == tablet {
        @media only screen and (min-width: screen(tablet, min)) { @content ; }
    }
    @else if $point == desktop {
        @media only screen and (min-width: screen(desktop, min)) { @content ; }
    }
    @else if $point == '2x' {
        @media only screen and (min-device-pixel-ratio: 1.5) { @content ; }
    }

}

.mobileonly {
    display: none;

    @include breakpoint(mobileonly) {
        display: block;
    }
}

.desktoponly {
    display: none;

    @include breakpoint(desktop) {
        display: block;
    }
}
