%reset-input, .reset-input {
  @include reset-input();
}

.input {
	@extend %reset-input;

  border-radius: $radius;
  background-color: color(grey, light);
  padding: .75em 1em .9em;

  overflow-y: auto;
  max-height: 50vh;

  &--underline {
    @extend %reset-input;

    padding: .5em 0;
    width: 100%;

    border-bottom: 2px solid rgba(white, .5);

    @include placeholder {
      color: rgba(white, .5);
    }
  }
}

textarea {
  resize: none;
}

.btn {
	@extend %reset-input;

  background-color: color(blue);
  color: white;
  border-radius: $radius;
  padding: .75rem 1.25rem .9rem;
  transition: all .2s;
  cursor: pointer;
  display: inline-block;

  &:hover {
    background-color: color(blue, light);
  }

  &:disabled, &.is-disabled {
    background-color: color(grey);
    cursor: not-allowed;
  }

  &.is-off {
    background-color: color(grey);
  }

  &--outline {
    background-color: transparent;
    border: 1px solid;
    color: inherit;

    &:hover {
      background-color: color(blue);
      color: white;
    }
  }
}

.btn-icon {
  display: inline-block;
  padding: 2px;
  border: 2px solid;
  text-align: center;
  border-radius: 2px;
}

[class^="btn"] {
  cursor: pointer;
}
