.input {
	border-radius: $radius;
	background-color: color(grey, light);
	padding: .75rem 1rem .9rem;
	
	@extend %reset-input;
}

.btn {
	background-color: color(grey);
	color: white;
	border-radius: $radius;
	padding: .75rem 1rem .9rem;
	
	@extend %reset-input;
}

