%icon {
  position: relative;
  display: inline-block;
}

$iconNav-size: 21px;
$iconNav-breakpoint: 580px;

.iconNav {
  @extend %icon;

  width: $iconNav-size;
  height: $iconNav-size;

//  overflow: hidden;

  cursor: pointer;
}

.iconNav-line {
  position: absolute;

  left: 0;
  right: 0;
  top:0;
  bottom: 0;

  margin: auto;

  display: block;

  width: 100%;
  height: 3px;

  background: currentcolor;

  transition: all .2s .2s;

  // &:hover {
  //  transition-delay: 0;
  // }

  @media (max-width: $iconNav-breakpoint) {
    &:nth-of-type(1) {
      transform: rotate(135deg);

      .iconNav.is-hidden & {
        transform: translateY(-5px);
      }

      .iconNav.is-hidden:hover & {
        transform: translateY(-7px);
      }
    }

    &:nth-of-type(2) {
      opacity: 0;
    }

    &:nth-of-type(3) {
      transform: rotate(45deg);

      .iconNav.is-hidden & {
        transform: translateY(5px);
      }

      .iconNav.is-hidden:hover & {
        transform: translateY(7px);
      }
    }
  }

  @media (min-width: $iconNav-breakpoint) {

    &:nth-of-type(1) {
      transform: rotate(90deg) translateY(-5px);

      .iconNav:hover & {
      //  transform: rotate(90deg) translateY(-8px);
      }

      .iconNav.is-hidden & {
        transform: rotate(90deg) translateY(5px);
      }

      .iconNav.is-hidden:hover & {
      //  transform: rotate(90deg) translateY(8px);
      }
    }

    &:nth-of-type(2) {
      transform: rotate(-45deg) scale(.4, 1) translate(4px, 3px);
      transform-origin: left center;

      .iconNav:hover & {
        transform: rotate(-45deg) scale(.4, 1) translate(0, 1px);
      }

      .iconNav.is-hidden & {
        transform: rotate(-45deg) scale(.4, 1) translate(-4px, -3px);
        transform-origin: right center;
      }

      .iconNav.is-hidden:hover & {
        transform: rotate(-45deg) scale(.4, 1) translate(0, -1px);
      }
    }

    &:nth-of-type(3) {
      transform: rotate(45deg) scale(.4, 1) translate(4px, -3px);
      transform-origin: left center;

      .iconNav:hover & {
        transform: rotate(45deg) scale(.4, 1) translate(0, -1px);
      }

      .iconNav.is-hidden & {
        transform: rotate(45deg) scale(.4, 1) translate(-4px, 3px);
        transform-origin: right center;
      }

      .iconNav.is-hidden:hover & {
        transform: rotate(45deg) scale(.4, 1) translate(0, 1px);
      }
    }
  }
}

.iconShuffle {
  @extend %icon;

  background: url('data:image/svg+xml,\
        <svg  xmlns="http://www.w3.org/2000/svg"\
              viewBox="0 0 17 15" \
              width="17" height="15">\
          <path d="M12.744 4.322h.767v2.385l3.323-3.353-3.323-3.354v1.989h-.767c-3.078 0-4.813 2.282-6.345 4.293-1.377 1.81-2.567 3.374-4.488 3.374h-1.743v2.333h1.744c3.078 0 4.813-2.28 6.345-4.293 1.377-1.811 2.567-3.373 4.488-3.373zm-8.069 1.47l.398-.519c.325-.428.67-.879 1.043-1.33-1.102-1.028-2.429-1.787-4.205-1.787h-1.744v2.333h1.744c1.106 0 1.968.519 2.764 1.303zm8.835 4.03h-.767c-1.172 0-2.073-.584-2.909-1.448l-.252.331c-.367.483-.763 1.001-1.199 1.515 1.13 1.103 2.5 1.937 4.36 1.937h.767v1.998l3.324-3.354-3.323-3.354v2.376z" fill="#{ color(grey) }"/>\
        </svg>') no-repeat center / contain;
  padding: .75em;
}
