@mixin reset-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0;
  background: none;
  padding: 0;
  color: inherit;
  font-weight: inherit;
  outline: none;
}