@import '../../scss/common';

.navigation {
  @include fix-overflow();

  max-width: 300px;
  background-color: #323D4D;
  color: white;
  padding: 1em;
  transition: all .2s;

  &.is-collapsed {
    max-width: 0;
    padding: 1em 0;
  }

  @media (max-width: 580px) {
    position: absolute;
    z-index: 1;

    width: 100%;
    max-width: 100%;
    min-height: 100%;

    &, &.is-collapsed {
      padding-top: 4rem;
    }

    background-color: rgba(#323D4D, .95);
  }

  &-group {
    & + & {
      margin-top: 2em;
    }

    &-label {
      font-weight: bold;
      color: grey;
      color: rgba(white, .5);
      margin-bottom: 1em;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &-list {
      &-item {
        display: flex;
        justify-content: space-between;
        padding: .4em 1em;
        margin: 0 -1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: background-color .2s;

        a {
          flex-grow: 1;
        }

        &--active {
          background-color: color(blue);
        }

        &:hover {
          background-color: rgba(white, .1);
        }
      }
    }
  }
}
