@import '../../scss/common';

.room-header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75em 1em .9em;
  color: color(grey);

  &-bar  {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & + & {
      margin-left: 2em;
    }

    &-item + &-item {
      margin-left: 1em;
    }
  }
}

.user {
  display: flex;

  &-ava {
    margin-left: .5em;
  }
}
