@import '../../scss/common';

.attachments {
  margin: .5rem -.5rem .5em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.attachment {
  border-radius: $radius;
  overflow: hidden;
  margin: .5em;
  border: 1px solid color(grey, light);
}
