@import '../../scss/common';

.message {
  flex-shrink: 0;
  margin-top: .75rem;
  margin-bottom: .75rem;

  &-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    margin-left: $ava-width;
    padding-left: 1rem;
    color: color(grey);
  }

  &-content {
    display: flex;
    align-items: top;

    &-ava {
      margin-right: 1rem;
      margin-top: 1rem;
    }

    &-text {
      position: relative;
      flex: 1;

      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 1.5rem;
        right: 100%;

        padding: .5rem;
        background-color: white;
        border-left: 1px solid color(grey, light);
        border-bottom: 1px solid color(grey, light);

        transform: translate(50%) rotate(45deg);
      }

      .md { margin: 1em 0; }
    }
  }
}

.bubble {
  background-color: white;
  padding: 0 1.5rem .25em;
  border-radius: $radius;
  border: 1px solid color(grey, light);

  .message--myself & {
    background-color: color(blue);
    color: white;
  }
}

.ava {
  flex-shrink: 0;
  width: $ava-width;
  height: $ava-width;
  border-radius: 999px;
  background-color: color(grey);
  background-size: cover;
}
