@import '../../scss/common';

.message {
  flex-shrink: 0;
  margin-top: .75rem;
  margin-bottom: .75rem;
  transition: opacity .2s;

  &-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    margin-left: $ava-width;
    padding-left: 1rem;
    color: color(grey);
  }

  &-time {
    padding: 0 .5em .1em;
  }

  &-content {
    display: flex;
    align-items: top;

    &-ava {
      margin-right: 1rem;
      margin-top: .85rem;
    }

    &-text {
      position: relative;
      flex: 1;
      word-wrap: break-word;
      hyphens: auto;

      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 1.35rem;
        right: 100%;

        padding: .5rem;
        background-color: white;
        border-left: 1px solid color(grey, light);
        border-bottom: 1px solid color(grey, light);

        transform: translate3d(50%, 0, 0) rotate(45deg);
      }

      .message--myself & {
        border-color: color(blue);

        &:before {
          border-left-color: color(blue);
          border-bottom-color: color(blue);
        }
      }

      .md { margin: 1em 0; }
    }
  }

  &--rejected, &--sent {
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }

  &--rejected {
    cursor: not-allowed;

    .message-time {
      background-color: red;
      color: white;
      border-radius: 16px;
    }
  }

  &--sent {
    .message-time {
      background-color: color(grey);
      color: white;
      border-radius: 16px;
    }
  }
}

.bubble {
  background-color: white;
  padding: 0 1.5rem .25em;
  border-radius: $radius;
  border: 1px solid color(grey, light);
}

.ava {
  flex-shrink: 0;
  width: $ava-width;
  height: $ava-width;
  border-radius: 999px;
  background-color: color(grey);
  background-size: cover;
}
