.b-gallery {
    height: 100%;
    position: relative;
    z-index: 1;

    .slick-list {
        height: 100%;

        .slick-track {
            height: 100%;
        }
    }

    .slick-dots {
        z-index: 20;

        @include breakpoint(mobileonly) {
            bottom: -10px !important;
        }

        button {
            padding: 0;
            background-color: transparent;

            .is-white-gallery & {
                border: 1px solid white;
            }

            .is-black-gallery & {
                border: 1px solid black;
            }
        }
    }

    .slick-active button {
        .is-white-gallery & {
            background-color: #fff;
        }

        .is-black-gallery & {
            background-color: #000;
        }
    }

    .slick-slide {
        transform: translateZ(0);
    }

    &__arrow {
        position: absolute;
        top: 0;
        height: 100%;
        width: 50%;
        cursor: pointer;
        z-index: 10;

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
        }
    }
}
