.ava {
	display: flex;
	flex-shrink: 0;
	
	width: $ava-width;
	height: $ava-width;
	
	border-radius: 999px;
	
	background: color(grey);
	
	svg, img {
		opacity: .5;
		align-self: center;
		margin: auto;
	}
}